@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background gradient */
body {
  background:
    radial-gradient(1200px 800px at 15% 0%, #ffe6f0, transparent 60%),
    radial-gradient(900px 700px at 90% 0%, #eae4ff, transparent 60%),
    linear-gradient(180deg, #fff, #fff);
}



